<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Mordern Parking System{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
    <header class="topbar">
        <a class="brand" href="{{ url_for('home')}}"> Modern Parking System</a>
        <nav>
          <a href="{{ url_for('home') }}">Slots</a>  
          <a href="{{ url_for('entry') }}">Entry</a> 
          <a href="{{ url_for('exit_lookup') }}">Exit &amp; Pay</a> 
          <a href="{{ url_for('admin_report') }}">Admin</a> 
          {% if session.username %}
           <span class="who">{{ session.username }} ({{ session.role}})</span>
           <a href="{{ url_for('logout' )}}">Logout</a>
           {% else %}
           <a href="{{ url_for('login' )}}">Login</a>
           {% endif %}
        </nav>
    </header>
    <main class="container">
        {% with messages = get_flashed_messages(with_categories=true)%}
        {% if messages %}
        {% for category, message in messages %}
         <div class="flash flash-{{ category}}">{{ message }}</div>
        {% endfor %} 
       {% endif %}
      {% endwith %}

      {% block content %}{% endblock %}     
    </main>
</body>
</html>