{% extends "base.html" %}
{% block title %} Exit & Payment{% endblock %}
{% block content %}
  <h1>Exit &amp; Payment</h1>

  <form method="post" class="card">
    <label>Number plate
        <input type="text" name="plate" placeholder="e.g KDB 231B" required>
    </label>
    <button classbtn  type="submit">Look up</button>
  </form>

  {% if result %}
   <div class="card result">
     <h2>Tickets #{{ result.ticket_id }} - {{ result.plate }} (slot {{ result.slot_no }})</h2>
     <p>Duration parked: <strong>{{ result.duration_min }} minute(s)</strong></p>
     <p>Tariff band: {{ result.description }}</p>
     <p class="fee">Amount_due: <strong>Kshs. {{ "%.2f"|format(result.fee) }}</strong></p>
     <form method="post" action="{{ url_for('pay') }}" class="pay-form">
       <input type="hidden" name="ticket_id" value="{{ result.ticket_id }}">
       <input type="hidden" name="tariff_band_id" value="{{ result.tariff_band_id }}">
       <input type="hidden" name="duration_min" value="{{ result.duration_min}}">
       <input type="hidden" name="amount_due" value="{{ result.fee }}">
       
       {% if result.fee == 0 %}
       <button class="btn" type="submit" name="method" value="CASH">confirm Free Exit</button>
       {% else %}
         <label>Payment method
            <select name="method" onchange="document.getElementById('cash-row').style.display = this.value === 'CASH' ? 'block' : 'none'">
                <option value="MPESA">M-PESA</option>
                <option value="CARD">Card</option>
                <option value="CASH">Cash</option>
            </select>
         </label>  
         <div id="cash-row">
            <label>Cash  tendered (Kshs.)
                <input type="number" step="0.01" name="tendered" placeholder="{{ result_fee}}">
            </label>
         </div>
         <button class="btn" type="submit">Collect Payment &amp; Open barrier</button>
         {% endif %}
     </form>  
    </div>
{% endif %}
{% endblock%}
